.image-loader-container {
    background-image: url("../../assets/waterfall-min.jpg");
    background-size: cover;
    width: 50%;
    height: 450px;
    margin: 25px auto;
    position: relative;

    img {
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height:100%;
        -webkit-transition: opacity 1500ms ease;
        transition: opacity 1500ms ease;

        &.show {
            opacity:1;
            visibility:visible
        }
    }

    h3 {
        position: absolute;
        top: 35%;
        left: 50%;
        color: #fff;
    }
}

@media (max-width: 768px) {
    .image-loader-container {
        width:100%;
    }
}