div {
    margin-top: 50px;

    .ice /deep/ h3 {
        top: 30% !important;
        left: 30% !important;
    }

    .waterfall /deep/ h3 {
        top: 55% !important;
        left: 47% !important;
    }
}

@media (max-width:768px) {
    div {
        margin-top:0;
    }
}
