
@media (max-width: 768px) {
    .hamburger-menu-icon {
  width: 45px;
  height: 45px;
  // background-color:gray;
  position: absolute;
  right:10px;
  top:10px;
//   margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburger-menu-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 60%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger-menu-icon span:nth-child(1) {
  top: 12px;
}

.hamburger-menu-icon span:nth-child(2) {
  top: 20px;
}

.hamburger-menu-icon span:nth-child(3) {
  top: 28px;
}

.hamburger-menu-icon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.hamburger-menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top:20px;
}

    .hamburger-menu-icon {
        // content: '\2630';
        // font-size: 2em;
        // padding: 3px 10px;
        // color:#fff;
        position: fixed;
        background-color: #1D8DA2;
        border-radius: 50%;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
        border: 1px solid #fff;
        // right: 5px;
        // top: 5px;
        z-index:10;
        // width:25px;
        // height: 25px;
    }

    .container {
        width:100%;
        transform: translate(-100%,0);
        transition: transform 500ms ease;
        height:100%;
        // overflow-x:hidden;
        position:fixed;
        top:0;
        left:0;
        z-index:5;

        &.visible {
            transform: translate(0,0) !important;
        }
        .content {
            float:left;
            width:75%;
            background-color: #1D8DA2;
            height:inherit;
            overflow-y:auto;
            position: relative;
            
            // .hamburger-icon:after {
            //     content: '\2630';
            //     font-size: 2em;
            //     padding: 5px 10px;
            //     color:#fff;
            //     position: absolute;
            //     right: 5px;
            //     top: 5px;
            // }
            // .hamburger-icon.open:after {
            // content: "\02DF";
            // font-size: 5em;
            // }
        }

        .shadow {
            float:left;
            width: 25%;
            height:inherit;
            background: transparent; 

            &.easeShadow {
                background: rgba(64,54,54, 0.3); 
            }
        }

        &.top {
            transform: translate(0,-100%);
            .content {
                width: 100%;
            }
            .shadow {
                display:none;
            }
        }
        &.bottom {
            transform: translate(0,100%);
            .content{
                width:100%;
            }
            .shadow {
                display:none;
            }
        }
        &.right {
            transform: translate(100%,0);
            .content {
                float: right;
            }
        }

    }
}

.container.always-collapse {
        width:100%;
        transform: translate(-100%,0);
        transition: transform 500ms ease;
        height:100%;
        // overflow-y:auto;
        position:fixed;
        top:0;
        left:0;
        z-index:15;

        &.visible {
            transform: translate(0,0) !important;
        }
        .content {
            float:left;
            width:75%;
            background-color: #1D8DA2;
            height:inherit;
            overflow-y:auto;
            position: relative;
            
            .hamburger-icon:after {
                content: '\02DF';
                font-size: 2em;
                padding: 5px 10px;
                color:#fff;
                position: absolute;
                right: 5px;
                top: 5px;
            }
            .hamburger-icon.open:after {
            // content: "\02DF";
            font-size: 5em;
            }
        }

        .shadow {
            float:left;
            width: 25%;
            height:inherit;
            background: transparent; 

            &.easeShadow {
                background: rgba(64,54,54, 0.3); 
            }
        }

        &.top {
            transform: translate(0,-100%);
            .content {
                width: 100%;
            }
            .shadow {
                display:none;
            }
        }
        &.bottom {
            transform: translate(0,100%);
            .content{
                width:100%;
            }
            .shadow {
                display:none;
            }
        }
        &.right {
            transform: translate(100%,0);
            .content {
                float: right;
            }
        }
    }



